<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>
<% unless @user.ratings.empty? %>
    <%= "Has made #{pluralize(@user.ratings.count, "rating")}, average #{@user.average_rating}" %><br>
    <%= "Favorite beer: #{@user.favorite_beer.name}" %><br>
    <%= "Favorite style: #{@user.favorite_style}" %><br>
    <%= "Favorite brewery: #{@user.favorite_brewery}" %>
<% end %>
<h3>Ratings:</h3>
<ul class="list-group">
  <% @user.ratings.each do |rating| %>
      <li class="list-group-item">
        <%= rating %>
        <%= link_to 'delete', rating, method: :delete, data: {confirm: "Really delete rating?"}, class: 'label label-danger pull-right' if @user == current_user %>
      </li>
  <% end %>
</ul>

<% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', @user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
<% end %>
<%= link_to 'Back', users_path, class: 'btn btn-default' %>
